.menu-header {
    width: auto;
    background: transparent;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    height: 50px;
    color: black;
}

.menu-toggle-btn {
    background: none;
    border: none;
    color: black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin: 0;
}

.menu-toggle-btn:hover{
    background-color: transparent;
}

.menu-label {
    font-weight: bold;
    font-size: 1rem;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: fadeIn 0.3s ease;
}

.menu-sidebar {
    width: 280px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    animation: slideIn 0.3s ease;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu-item {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s ease;
}

.menu-item:hover {
    background-color: #f1f1f1;
}

@keyframes slideIn {
    from {
        transform: translateX(-320px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu-item.logout{
    border: none;
    color: red;
}