.diagnostico-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    min-height: 100vh;
}

.diagnostico-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back-button {
    background: none;
    border: none;
    font-size: 16px;
    color: #2563eb;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.titulo-diagnostico {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.diagnostico-card {
    display: flex;
    align-items: start;
    background-color: #f3f4f6;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.imagen-plaga {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin-right: 15px;
    object-fit: cover;
}

.info-plaga h3 {
    margin: 0;
    font-size: 18px;
}

.tipo-plaga {
    font-size: 14px;
    color: #555;
}

.recomendaciones-section {
    margin-top: 20px;
}

.recomendaciones-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.control-organico {
    margin-top: 15px;
    background-color: #e6f4ea;
    padding: 12px;
    border-left: 4px solid #10b981;
    border-radius: 6px;
}

.control-organico p {
    text-align: justify;
}

.guardar-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.boton-descargar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.boton-descargar:hover {
    background-color: #218838;
}